<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud </title>
<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>

</head>
<body>

    <div class="container p-4">
        <h2> Lista productos</h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Añadir</button>

    <table class="table table-striped" id="mytable">
            <thead>
                <th> Producto id</th>
                <th> Producto nombre</th>
                <th> Precio</th>
                <th> Acción</th>

            </thead>
            <tbody>
                {{#each results}}
        <tr>
                <td> {{ producto_id }}</td>
                <td> {{ producto_nombre }}</td>
                <td> {{ producto_precio }}</td>
        
                <td><a href="javascript:void(0);" class="btn btn-info edit" data-id="{{ producto_id}}" data-producto_nombre="{{ producto_nombre}}" data-producto_precio="{{ producto_precio}}">Editar</a>    
                <a href="javascript:void(0);" class="btn btn-danger delete" data-id="{{ producto_id}}"> Borrar</a>
                </td>
                
            </tr>

            {{/each}}
            </tbody>

        </table>
    </div>



	<!-- MODAL AGREGAR PRODUCTOS -->
        <form action="/save" method="post">       
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="producto_nombre" class="form-control" placeholder="Nombre producto" required>
                </div>

                <div class="form-group">
                    <input type="text" name="producto_precio" class="form-control" placeholder="Precio" required>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            </div>
            </div>
        </form>




{{!-- EDITAR--}}

    <form action="/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="producto_nombre" class="form-control producto_nombre" placeholder="Producto Nombre" required>
                </div>

                <div class="form-group">
                    <input type="text" name="producto_precio" class="form-control precio" placeholder="Precio" required>
                </div>
                </div>
                <div class="modal-footer">
                <input type="hidden" name="id" class="producto_id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
            </div>
            </div>
    </form>





{{!-- Modal delete --}}

        <form id="add-row-form" action="/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Borrar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                    <strong>¿Estás seguro de borrar este elemento?</strong>
                    </div>
                    <div class="modal-footer">
                    <input type="hidden" name="producto_id" class="form-control producto_id2" required>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Eliminar</button>
                    </div>
                        </div>
                </div>
            </div>
        </form>


<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>

<script>
$(document).ready(function(){
    //Mostrar datos al modal para editar registro

    $('#mytable').on('click', '.edit', function(){
        let producto_id = $(this).data('id');
        let producto_nombre = $(this).data('producto_nombre');
        let producto_precio = $(this).data('producto_precio');
        $('#EditModal').modal('show');
        $('.producto_nombre').val(producto_nombre);
        $('.precio').val(producto_precio);
        $('.producto_id').val(producto_id);
    })


    $('#mytable').on('click', '.delete', function(){
        let producto_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.producto_id2').val(producto_id);

    })
})
</script>


        
</body>
</html>



<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        $('#mytable').on('click', '.edit', function(){
            let producto_id = $(this).data('id');
            let producto_nombre = $(this).data('producto_nombre');
            let producto_precio = $(this).data('producto_precio');
            $('#EditModal').modal('show');  
            $('.producto_id').val(producto_id);
            $('.producto_nombre').val(producto_nombre);
            $('.precio').val(producto_precio);
        })
        $('#mytable').on('click', '.delete', function(){
            let producto_id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('producto_id2').val(producto_id);
        } )



    })
</script>

</body>
</html>