{{> header }}

{{!-- Contenido específico de la página detalle del repositorio--}}
<h1> {{title }} </h1>
<h2> Información del repositorio</h2>
<p> Nombre: {{repository.name}}</p>
<p> Descripción: {{repository.description}}</p>
<p> Lenguaje: {{repository.language}}</p>
<p> Estrelllas: {{repository.stargazers_count}}</p>
<p> Última actualización: {{repository.updated_at}}</p>



{{> footer}}